{% extends "base.html.twig" %}


{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/evenements.css"/>
{% endblock %}

{% block title %}Evenements{% endblock %}

{% block content %}

<form class="form-admin container py-5" method="GET" action="/evenements/filter">
    <div class="row justify-content-between">
        <div class="form-group col-md-2 col-xs-12 d-flex align-items-center flex-column">
            <label for="filter_titre">Evènement</label>
            <input type="text" maxlength="255" value="{{ filtres['filter_titre'] }}" name="filter_titre"
                   class="form-control event-searchbar w-50" id="filter_titre" placeholder="Titre">
        </div>
        <div class="form-group col-md-2 col-xs-12 d-flex align-items-center flex-column">
            <label for="filtre_statut">Statut</label>
            <select name="filtre_statut" id="filtre_statut">
                <option value='' selected>Sélectionner un statut</option>
                {% for statut in statuts %}
                    {% if statut.libelleStatut != 'Passé' %}
                        <option {% if filtres['filtre_statut'] is defined and statut.idStatut == filtres['filtre_statut'] %} selected {% endif %}
                                value="{{ statut.idStatut }}">{{ statut.libelleStatut }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-2 col-xs-12 d-flex align-items-center flex-column">
            <label for="filtre_city">Ville</label>
            <input type="text" maxlength="255" value="{{ filtres['filtre_city'] }}" name="filtre_city"
                   class="form-control event-searchbar w-50" id="filtre_city" placeholder="Ville">
        </div>
        <div class="form-group col-md-2 col-xs-12 d-flex align-items-center flex-column">
            <label for="filtre_cp">Code postale</label>
            <input type="text" minlength="5" maxlength="5" pattern="[0-9]+" value="{{ filtres['filtre_cp'] }}"
                   name="filtre_cp" class="form-control event-searchbar  w-50" id="filtre_cp"
                   placeholder="Le code postal doit faire 5 caractères (uniquement des chiffres)">
        </div>
        <div class="form-group col-md-2 col-xs-12 d-flex align-items-center flex-column">
            <label for="order_date">Date</label>
            <select class="form-select" name="order_date" id="order_date">
                <option value='' selected>Sélectioner un ordre d'affichage</option>
                <option value="ASC">Croissant</option>
                <option value="DESC">Décroissant</option>
            </select>
        </div>
        <input type="hidden" value="{{ filtres['filtre_categorie'] }}" name="filtre_categorie"
               class="form-control event-searchbar  w-50">
    </div>

    <div class="form-group col  my-5 text-center">
        <button type="submit" class="btn-home text-light">Rechercher</button>
        <button class="btn-home text-light"><a href="/evenements">Annuler</a></button>
    </div>
</form>


<h1 class="text-center mb-5">Liste des evenements</h1>
    {% for categorie in categories %}
        {% if filtres['filtre_categorie'] is defined %}
            {% if filtres['filtre_categorie'] == categorie.idCategorie %}
                <h2 class="text-center">{{ categorie.libelleCategorie }}</h2>
            {% endif %}
        {% else %}
            <h2 class="text-center">{{ categorie.libelleCategorie }}</h2>
        {% endif %}

        <section class="events-next my-5 container">
            <div class="all-events-next row">
                {% for evenement in evenementsOrderByCategories[categorie.libelleCategorie] %}
                    {% include "home/sections/card_event.html.twig" %}
                {% endfor %}
            </div>
        </section>
    {% endfor %}
{% endblock %}

