{% extends "base.html.twig" %}
{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/evenement.css"/>
{% endblock %}
{% block title %}Evènement {{ evenement.titre }}
{% endblock %}


{% block content %}
	{% if errorParticiper %}
		<div class="alert alert-success m-auto col-3">
			{{ errorParticiper ~ '!' }}
		</div>
	{% endif %}

	<main class="container-fluid">
		<section id="eventImage">
			<h1>{{ evenement.titre }}</h1>
            <h5>{{evenement.sousTitre}}</h5>
            <h6> Le {{evenement.date|date("d-m-Y")}} à <span id="ville">{{evenement.adresses.villeLibelle}}</span></h6>
		</section>

		{# Message succes participation#}
		{% if successParticiper %}
			<div class="alert alert-warning m-auto mt-2 col-3">
				{{ successParticiper }}
			</div>
		{% endif %}

		{# Message login pour participer #}
		{% if noConnectedMessage %}
			<p>{{ noConnectedMessage }}</p>
			<a class="btn btn-primary" href="/login">Se connecter</a>
		{% else %}
			{% if alreadyParticipe == false %}
				<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Modal{{ evenement.idEvenement }}">Participer</button>
			{% else %}
            <div class="alert alert-warning m-auto mb-4 col-4">
                Vous participez déjà à cet évènement
            </div>
				
			{% endif %}
		{% endif %}
		{# Message succes participation#}

		{% include 'utils/pop-up/participer_evenement_model.html.twig' %}
		{% include 'maps/maps_show.html.twig' %}
	</main>
{% endblock %}

