{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/admin.css"/>

{% endblock %}
{% block title %}Gestions des adresses
{% endblock %}


{% block content %}

    <h1 class="text-center mt-5">Filtrer les adresses</h1>
    <main>
        <a href="/admin/create/adresse" class="add btn btn-info">Ajouter une adresse</a>
        {# Début formulaire des filtres #}
        <section class="formFiltre">
            <form class="form-admin" method="GET" action="/admin/adresses/filter">
                <div id="filtres" class="cardFiltre">
                    <div class="form-group">
                        <label for="filter_city">Ville</label>
                        <input type="text" maxlength="255" value="{{ filtres['filter_city'] }}" name="filter_city"
                               class="form-control" id="filter_city" placeholder="Nom de la ville">
                    </div>
                    <div class="form-group">
                        <label for="filter_cp">Code postal</label>
                        <input type="text" minlength="5" maxlength="5" pattern="[0-9]+"
                               value="{{ filtres['filter_cp'] }}" name="filter_cp" class="form-control" id="filter_cp"
                               placeholder="Le code postal doit faire 5 caractères (uniquement des chiffres)">
                    </div>
                </div>
                <div id="bouton">
                    <button type="submit" name="filtre" value="true" class="btn btn-success">Rechercher</button>
                    <a href="/admin/adresses" class="btn btn-danger">Annuler</a>
                </div>
            </form>
        </section>
        {# Fin formulaire des filtres #}

        <section id="listEvent" class="container-fluid">
            <h2>Liste des adresses :</h2>

            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Code postal</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for adresse in adresses %}
                    <tr>
                        <td scope="row">
                        {{ adresse.cpVille }}</th>
                        <td>{{ adresse.villeLibelle }}</td>
                        <td>{{ adresse.libelleAdresse }}</td>
                        <td>{{ adresse.coordonneeLongitude }}</td>
                        <td>{{ adresse.coordonneLatitude }}</td>
                        <td id="actions">
                            <form method="GET" action="/admin/edit/adresses">
                                <button type="submit" name="id" class="btn btn-warning" value="{{ adresse.idAdresse }}">
                                    <img src="{{ path_logo }}/edit.png" alt="edit"></button>
                            </form>

                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#deleteModal{{ adresse.idAdresse }}"><img
                                        src="{{ path_logo }}/trash.png" alt="delete"></button>
                        </td>
                    </tr>
                    {% include 'utils/pop-up/delete_adresse_model.html.twig' %}
                {% endfor %}
                </tbody>
                {% include 'utils/pop-up/delete_adresse_withcontraint_model.html.twig' %}
                <tfoot>
                <tr>
                    {% if adresses is not empty %}
                        <th colspan="6">Total adresses :
                            {{ adresses | length }}</th>
                    {% else %}
                        <th colspan="6">Aucune adresse</th>
                    {% endif %}
                </tr>
                </tfoot>
            </table>
        </section>
    </main>

    {% if Adressepop == "Adressepop" %}
        <script type="text/javascript">
            $('#deleteModalwithcontraintadres').modal("show")
        </script>
    {% endif %}
{% endblock %}

