{% extends "base.html.twig" %}

{% block title %}Gestions des utilisateurs{% endblock %}


{% block content %}
    <h1 class="display-1 text-center mt-5">Utilisateurs</h1>
    <main>
        <form class="form-admin" method="POST" action="/admin/utilisateurs/filter">
            <div class="form-group">
                <label for="searchUserLastName">Rechercher un utilisateur par nom</label>
                <input type="text" value="{{ filtres['filtre_lastName'] }}" name="filtre_lastName" class="form-control" id="searchUserLastName" placeholder="Nom de l'utilisateur">
            </div>
            <div class="form-group">
                <label for="searchUserFirstName">Rechercher un utilisateur par son prénom</label>
                <input type="text" value="{{ filtres['filtre_firstName'] }}" name="filtre_firstName" class="form-control" id="searchUserFirstName" placeholder="Prénom de l'utilisateur">
            </div>
            <div class="form-group">
                <label for="ecoles">Ecoles</label>
                <select class="form-select" name="filtre_ecole" id="ecoles">
                    <option value='' selected>Selectioner une écoles</option>
                    {% for ecole in ecoles %}
                        <option  {% if filtres['filtre_ecole'] is defined and ecole.idEcole == filtres['filtre_ecole'] %} selected {% endif %} value="{{ ecole.idEcole }}">{{ ecole.nomEcole }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="promotions">Promotions</label>
                <select class="form-select" name="filtre_promotion" class="form-control" id="promotions">
                    <option value='' selected>Selectioner une promotion</option>
                   
                </select>
            </div>
            <div class="form-group">
                <label for="rolesSelect">Roles</label>
                <select class="form-select" name="filtre_role" id="rolesSelect">
                    <option value='' selected>Selectioner un role</option>
                    {% for role in roles %}
                        <option {% if filtres['filtre_role'] is defined and role.idRole == filtres['filtre_role'] %} selected {% endif %} value="{{ role.idRole }}">{{ role.libelleRole }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" name="filtre" value="true" class="btn btn-primary">Rechercher</button>
            <a href="/admin/utilisateurs" class="btn btn-primary">Annuler</a>
        </form>

        <h2>Liste des utilisateurs</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Date d'inscription</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Role</th>
                    <th scope="col">Ecole</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <th scope="row">{{ utilisateur.nom }}</th>
                    <td>{{ utilisateur.prenom }}</td>
                    <td>{{ utilisateur.dateNaissance | date('d-m-Y') }}</td>
                    <td>{{ utilisateur.dateInscription | date('d-m-Y')}}</td>
                    <td>{{ utilisateur.mail }}</td>
                    <td>{{ utilisateur.telephone }}</td>
                    <td>{{ utilisateur.roles.libelleRole }}</td>
                    <td>{{ utilisateur.promotions.ecoles.nomEcole }}</td>


                    <td>
                        <form method="POST" action="/admin/edit/utilisateurs" >
                            <button type="submit" name="id" class="btn btn-warning" value="{{ utilisateur.idUtilisateur}}">Modifier</button>
                        </form>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{utilisateur.idUtilisateur }}">Supprimer</button>

                    </td>
                </tr>
                {% include 'utils/pop-up/delete_utilisateur_model.html.twig'%}
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    {% if utilisateurs is not empty %}
                        <th>Total utilisateurs {{ utilisateurs | length }}</th>
                    {% else %}
                        <th>Aucun utilisateur</th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </main>
{% endblock %}

{% block script %}
<script>
		let listeEcole = document.querySelector('#ecoles');
		let listePromotions = document.querySelector('#promotions');
	function ajaxPromotions(){
		
		let valueSelected = listeEcole.value;
		
    fetch('http://localhost:8000/json/promotions/' + valueSelected)
            .then(response => response.json())
			.then(datas =>insertOption(datas) 
			)
    }

	function insertOption(datas){
		listePromotions.innerHTML ='<option selected value=''>Sélectionner votre promotion</option>'
		datas.forEach(element=> listePromotions.innerHTML += '<option value='+element[0]+'> '+element[1]+'</option>')
	}

	document.querySelector("#ecoles").addEventListener('change',ajaxPromotions);
</script>
{% endblock %}
