{% extends "base.html.twig" %}

{% block title %}Gestions des categories{% endblock %}


{% block content %}
    <h1 class="display-1 text-center mt-5">Categories</h1>
    <main>
        <a href="/admin/create/categorie">Ajouter une categorie</a>
        <form class="form-admin" method="GET" action="/admin/categories/filter">
            <div class="form-group">
                <label for="filter_libelle">Rechercher une categorie par son nom</label>
                <input type="text" value="{{ filtres['filter_libelle'] }}" name="filter_libelle" class="form-control" id="filter_libelle" placeholder="Nom de la categorie">
            </div>
            <button type="submit" name="filtre" value="true" class="btn btn-primary">Rechercher</button>
            <a href="/admin/categories" class="btn btn-primary">Annuler</a>
        </form>

        <h2>Liste des categories</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom de la categorie</th>
            </tr>
            </thead>
            <tbody>
            {% for categorie in categories %}
                <tr>
                    <th>{{ categorie.libelleCategorie }}</th>
                    <td>
                        <form method="GET" action="/admin/edit/categories" >
                            <button type="submit" name="id" class="btn btn-warning" value="{{ categorie.idCategorie }}">Modifier</button>
                        </form>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ categorie.idCategorie }}">Supprimer</button>
                    </td>
                </tr>
                {% include 'utils/pop-up/delete_categorie_model.html.twig'%}
                
            {% endfor %}
            </tbody>
            {% include 'utils/pop-up/delete_categorie_withcontraint_model.html.twig'%}
            <tfoot>
                <tr>
                    {% if categories is not empty %}
                        <th>Total categories {{ categories | length }}</th>
                    {% else %}
                        <th>Aucune categorie</th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </main>

    {% if cateforipop == "cateforipop"  %}
            <script type="text/javascript">
               $('#deleteModalwithcontraintcategorie').modal('show');
            </script>
    {% endif %}
    
{% endblock %}
