{% extends "base.html.twig" %}

{% block title %}Gestions des promotions{% endblock %}


{% block content %}
    <h1 class="display-1 text-center mt-5">Promotions</h1>
    <main>
     <a href="/admin/create/promotions" class="btn btn-primary">Ajouter une promotion</a>
        <form class="form-admin" method="POST" action="/admin/promotions/filter">
            <div class="form-group">
                <label for="filtre_name_promotion">Rechercher une promotion par nom</label>
                <input type="text" value="{{ filtres['filtre_name_promotion'] }}" name="filtre_name_promotion" class="form-control" id="filtre_name_promotion" placeholder="Nom de la promotion">
            </div>
               <div class="form-group">
                <label for="filtre_ecole">Rechercher une école par nom</label>
                <select name="filtre_ecole" id="filtre_ecole">
                    <option disabled selected>Selectionner l'école</option>
                    {% for ecole in ecoles %}
                        <option {% if filtres['filtre_ecole'] is defined and ecole.idEcole == filtres['filtre_ecole'] %} selected {% endif %} value="{{ ecole.idEcole }}">{{ ecole.nomEcole }}</option>
                    {% endfor %}
                </select>
            </div>
           
            <button type="submit" name="filtre" value="true" class="btn btn-primary">Rechercher</button>
            <a href="/admin/promotions" class="btn btn-primary">Annuler</a>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Noms promotion</th>
                    <th scope="col">Ecoles</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for promotion in promotions %}
                <tr>
                    <th scope="row">{{ promotion.libellePromotion }}</th>
                    <td>{{ promotion.ecoles.nomEcole}}</td>
                    <td>
                        <form method="POST" action="/admin/edit/promotions" >
                            <button type="submit" name="id" class="btn btn-warning" value="{{promotion.idPromotion}}">Modifier</button>
                        </form>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{promotion.idPromotion  }}">Supprimer</button>
                    </td>
                </tr>
                {% include 'utils/pop-up/delete_promotion_model.html.twig'%}
            {% endfor %}
            </tbody>

            {% include 'utils/pop-up/delete_promotion_withcontraint_model.html.twig'%}
            <tfoot>
                <tr>
                    {% if promotions is not empty %}
                        <th>Total promotions {{ promotions | length }}</th>
                    {% else %}
                        <th>Aucune promotion</th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </main> 

    {% if promotionpop == "promotionpop"  %}
            <script type="text/javascript">
                $('#deleteModalwithcontraintpromo').modal("show")
            </script>
        {% endif %}
{% endblock %}
