{% extends "base.html.twig" %}

{% block title %}Modifier un évenement{% endblock %}


{% block content %}
    <h1 class="display-1 text-center mt-5">Modifier un évenement</h1>
    <main>
        <form class="form-admin" method="POST" action="/admin/update/evenements" enctype="multipart/form-data">
            <div class="form-group">
                <label for="evenementTitle">Titre</label>
                <input type="text" maxlength="255" name="evenementTitle" class="form-control" id="evenementTitle" value="{{ evenement.titre }}" placeholder="Titre" required>
            </div>
            <div class="form-group">
                <label for="evenementSubTitle">Sous titre</label>
                <input type="text" maxlength="255" name="evenementSubTitle" class="form-control" id="evenementSubTitle" value="{{ evenement.sousTitre }}" placeholder="Sous titre" required>
            </div>
            <div class="form-group">
                <label for="evenementDate">Date de l'événement</label>
                <input type="datetime-local" name="evenementDate" class="form-control" id="evenementDate" value="{{ evenement.date | date('Y-m-d\\TH:i:s') }}" placeholder="Date de l'événement">
            </div>
            <p>Nombre de participant : {{ arrayParticipeUtilisateurs[evenement.idEvenement] | length }}</p>
            <div class="form-group">
                <label for="nbParticipantMax">Nombre de participant max</label>
                <input type="number" pattern="[0-9]+" name="nbParticipantMax" class="form-control" id="nbParticipantMax" value="{{ evenement.nbParticipantsMax }}" placeholder="Nombre de participants max" required min="{{ arrayParticipeUtilisateurs[evenement.idEvenement] | length }}">
            </div>
            <div class="form-group">
                <label for="prix">Prix</label>
                <input type="number" step="0.01" maxlength="255" name="prix" class="form-control" id="prix" value="{{ evenement.prix }}" placeholder="Prix" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" maxlength="40000" name="description" class="form-control" id="description" placeholder="Description" required>{{ evenement.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="categorieSelect">Categorie</label>
                <select name="categorieSelect" id="categorieSelect" required>
                    <option value="" disabled selected>Selectioner une categorie</option>
                    {% for categorie in categories %}
                        {% if categorie.idCategorie == evenement.categories.idCategorie %}
                            <option selected value="{{ categorie.idCategorie }}">{{ categorie.libelleCategorie }}</option>
                        {% else %}
                            <option value="{{ categorie.idCategorie }}">{{ categorie.libelleCategorie }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <a href="/admin/create/categorie">Ajouter une categorie</a>
            </div>
            <div class="form-group">
                <label for="statutSelect">Statut</label>
                <select name="statutSelect" id="statutSelect" required>
                    <option value="" disabled selected>Selectioner un statut</option>
                    {% for statut in statuts %}
                        {% if statut.idStatut == evenement.statuts.idStatut %}
                            <option selected value="{{ statut.idStatut }}">{{ statut.libelleStatut }}</option>
                        {% else %}
                            <option value="{{ statut.idStatut }}">{{ statut.libelleStatut }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="adresseSelect">Adresse</label>
                <select name="adresseSelect" id="adresseSelect" required>
                    <option value="" disabled selected>Selectioner une adresse</option>
                    {% for adresse in adresses %}
                        <option  {% if adresse.idAdresse == evenement.adresses.idAdresse %} selected {% endif %} value="{{ adresse.idAdresse  }}">{{ adresse.cpVille }} {{ adresse.villeLibelle }} {{ adresse.libelleAdresse }}</option>
                    {% endfor %}
                </select>
                <a href="/admin/create/adresse">Ajouter une adresse</a>
            </div>
            <img src="/{{ evenement.medias.path }}" alt="" srcset="">
             <input type="file" required name="imageEvent"/>
            <button type="submit" name="id" class="btn btn-primary" value="{{ evenement.idEvenement }}">Sauvegarder</button>
            <a href="/admin/evenements" class="btn btn-primary">Annuler</a>
        </form>
    </main>
{% endblock %}
