{% extends "base.html.twig" %}
{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/admin.css"/>

{% endblock %}
{% block title %}Modifier un évènement
{% endblock %}


{% block content %}

	<h1 class="text-center mt-5">Modifier un évènement</h1>
	<main>
		<section class="card event col-5 m-auto">
			<form class="form-admin" method="POST" action="/admin/update/evenements" enctype="multipart/form-data">
				<div id="createEvent">
					<div class="form-group">
						<label for="evenementTitle">Titre</label>
						<input type="text" maxlength="255" name="evenementTitle" class="form-control" id="evenementTitle" value="{{ evenement.titre }}" placeholder="Titre" required>
					</div>
					<div class="form-group">
						<label for="evenementSubTitle">Sous-titre</label>
						<input type="text" maxlength="255" name="evenementSubTitle" class="form-control" id="evenementSubTitle" value="{{ evenement.sousTitre }}" placeholder="Sous titre" required>
					</div>
					<div class="form-group">
						<label for="evenementDate">Date de l'événement</label>
						<input type="datetime-local" name="evenementDate" class="form-control" id="evenementDate" value="{{ evenement.date | date('Y-m-d\\TH:i:s') }}" placeholder="Date de l'événement" required>
					</div>
					<div class="form-group">
						<label style="font-weight: bolder;text-decoration:underline;color:red">Nombre de participants :
							{{ arrayParticipeUtilisateurs[evenement.idEvenement] | length }}</label>
					</div>
					<div class="form-group">
                        <label for="nbParticipantMax">Nombre de participant max</label>
                        <input type="number" pattern="[0-9]+" name="nbParticipantMax" class="form-control" id="nbParticipantMax" value="{{ evenement.nbParticipantsMax }}" placeholder="Nombre de participants max" required min="{{ arrayParticipeUtilisateurs[evenement.idEvenement] | length }}">
                    </div>
					<div class="form-group">
						<label for="prix">Prix</label>
						<input type="number" step="0.01" maxlength="255" name="prix" class="form-control" id="prix" value="{{ evenement.prix }}" placeholder="Prix" required>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<textarea type="text" maxlength="40000" name="description" class="form-control" id="description" placeholder="Description" required>{{ evenement.description }}</textarea>
					</div>
					<div class="form-group">
						<label for="categorieSelect">Catégorie</label>
						<select name="categorieSelect" id="categorieSelect" required>
							<option value="" disabled selected>Sélectionner une catégorie</option>

							{% for categorie in categories %}
								{% if categorie.idCategorie == evenement.categories.idCategorie %}
									<option selected value="{{ categorie.idCategorie }}">{{ categorie.libelleCategorie }}</option>
								{% else %}
									<option value="{{ categorie.idCategorie }}">{{ categorie.libelleCategorie }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<a href="/admin/create/categorie">Ajouter une catégorie</a>
					</div>
					<div class="form-group">
						<label for="statutSelect">Statut</label>
						<select name="statutSelect" id="statutSelect">
							<option disabled selected>Sélectionner un statut</option>
							{% for statut in statuts %}
								{% if statut.idStatut == evenement.statuts.idStatut %}
									<option selected value="{{ statut.idStatut }}">{{ statut.libelleStatut }}</option>
								{% else %}
									<option value="{{ statut.idStatut }}">{{ statut.libelleStatut }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label for="adresseSelect">Adresse</label>
						<select name="adresseSelect" id="adresseSelect" required>
							<option value="" disabled selected>Sélectionner une adresse</option>
							{% for adresse in adresses %}
								<option {% if adresse.idAdresse == evenement.adresses.idAdresse %} selected {% endif %} value="{{ adresse.idAdresse }}">{{ adresse.cpVille }}
									{{ adresse.villeLibelle }}
									{{ adresse.libelleAdresse }}</option>
							{% endfor %}
						</select>
						<a href="/admin/create/adresse" class="add btn btn-info">Ajouter une adresse</a>
					</div>
					<img src="/{{ evenement.medias.path}}" alt="" srcset="">
					<input type="file" name="imageEvent"/>
				</div>
				<div id="bouton">
					<button type="submit" name="id" class="btn btn-success mt-3" value="{{ evenement.idEvenement }}">Sauvegarder</button>
					<a href="/admin/evenements" class="btn btn-danger mt-3">Retour</a>
				</div>
			</form>
		</section>
	</main>
{% endblock %}